#content-body > div.row{
    overflow-y: scroll; /* SCROOL */
    height: calc(100vh - 134px);
}

.funcionarios ul li a img {
    width: 40px;
}

#my-carousel div div img {
    width: 100%;
}

.funcionarios {
    max-height: 200px !important;
}

.funcionarios ul {
    height: 200px;
    overflow-y: scroll;
}

/* SCROOL */
::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */    
}

/* SCROOL */
::-webkit-scrollbar-track-piece  {
	background-color: rgb(167, 164, 164);	/* SCROOL: Fundo da rolagem */
}
/* SCROOL */
::-webkit-scrollbar-thumb:vertical {
	background-color: #666; /* SCROOL: Rolagem */
}

.funcionarios ul li {
    background-color: #fff;
    padding: 5px;
    border: none;
    box-shadow: 2px 2px 0 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
}