body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f8f9fa;
}

/* CONTAINERS */
#container{
    display: flex;
    flex-wrap: nowrap;
    
    /* height: calc(100vh - 4px); */
    height: 100vh;
    
}

    /* MENU */
    #menu{
        display: flex;
        flex-direction: column;

        min-width: 280px;

        background-color: #1d1d1d;
        color: blanchedalmond;        
    }
    #menu-header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        padding: 10px;
        
        align-items: center;        
    }

    #menu-header span{                
        margin-left: 20px;
    }

    #menu-header img{
        border-radius: 50%;
    }

    #menu-main{
        
    }

    .menu-main, 
    .menu-main ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .menu-main >  li{
        padding: 20px 0 !important;
    }
    
    .menu-main >  li > ul > li{
        padding: 10px 0 10px 60px !important;

    }

    .menu-main >  li > ul > li a{
        color: gray;
    }

    .menu-main >  li > ul > li a:hover{
        color: white;        
    }

    .menu-main a {
        text-decoration: none;
        color: white;
    }

    .menu-main a i {
        margin: 0 20px;
    }

    .selected {
        background-color: black;
    }

    .item-selected{
        color: white !important;
        font-weight: bold;
    }

    /* /MENU */

    /* CONTENT */
    #content{
        width: 100%;
    }   


    #notificacoes{
        width: 100%;
        display: flex;
        justify-content: flex-end;        
        right: 0;
        color: white;
        font-size: 1.4em;
        border: 3px none lime;
    }
    #notificacoes i:first-child {
        margin-right: 30px;
    }

    #content-header{        
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        padding: 17px 24px;
        background-color: #3f51b5;
        color: #fff;        
    }

    #content-main{
        width: 100%;
    }

    #content-main header{
        padding: 20px;
        margin: 20px;
        box-sizing: border-box;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6);
        border-radius: 2px;
        background-color: #fff;
        font-size: 20px;
        font-weight: bold;
    }

    /* /CONTENT */

/* /CONTAINERS */

